@use "../utilities/mixins" as mx;
@use "../utilities/functions" as f;

.navbar {
  background-color: f.get-color(neutral);
  color: f.get-color(secondary);
  padding: 0.75rem;

  &__container {
    @include mx.flex-center(row, no-wrap);
    justify-content: space-between;
  }

  &__logo {
    color: f.get-color(primary);
    font-size: f.get-font(large);
    text-decoration: none;
    font-weight: bold;
  }

  &__menu {
    list-style: none;
    display: flex;
    gap: 1rem;

    a {
      color: f.get-color(secondary);
      text-decoration: none;
      transition: text-shadow 0.3s ease;

      &:hover {
        text-decoration: underline;
        text-shadow: 1.5px 1.5px 2.5px rgba(0, 0, 0, 0.6);
        color: f.get-color(primary);
      }
    }
  }

  &__toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: f.get-color(secondary);
    cursor: pointer;
  }

  @media (max-width: 768px) {
    &__menu {
      display: none;
      flex-direction: column;
      width: 100%;
      padding: 1rem;
      background-color: f.get-color(neutral);
      position: absolute;
      top: 4rem;
      left: 0;
      z-index: 10;
      transform: translateY(-20px);
      opacity: 0;
      transition:
        transform 0.3s ease,
        opacity 0.3s ease;

      &.active {
        display: flex;
        transform: translateY(0);
        opacity: 1;
      }
    }

    &__toggle {
      display: block;
    }
  }
}
