@use "../base/variables" as vars;
@use "../utilities/mixins" as mx;
@use "../utilities/functions" as f;

.banner {
  position: relative;
  background-image: url("/banner__home.webp");
  background-size: cover;
  background-position: center;
  height: 65vh;
  width: auto;
  background-color: f.get-color(neutral);

  &__overlay {
    @include mx.flex-center(column, no-wrap);
    text-align: center;
    height: 100%;
    padding: 2rem;
  }

  &__title {
    font-family: vars.$font-family-titles;
    font-size: f.get-font(heading);
    color: f.get-color(primary);
    margin-bottom: 1rem;
    transition: color 0.3s ease;

    span {
      color: f.get-color(secondary);
    }

    &:hover {
      color: f.get-color(accent-dark);
    }
  }
}
