---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<BaseLayout>
    <h1>Floor Catalog</h1>
    <section class="catalog">
        <Card title="Wood Floor" description="Sturdy and elegant."/>
        <Card title="Ceramic Floor" description="Durable and easy to clean."/>
    </section>
</BaseLayout>