---
import Banner from '../components/Banner.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import PaymentBanner from '../components/PaymentBanner.astro';
---

<BaseLayout>
	<Banner />
	<PaymentBanner />
	<h1 class="home__title">Top Quality Flooring</h1>
	<p>Find the best selection of flooring for your home or business.</p>
</BaseLayout>
