---
import "../styles/components/_payment-banner.scss";
---

<section class="payment-banner">
    <div class="payment-banner__container">
        <div class="payment-banner__text">
            <h2>We Accept Credit & Debit Cards</h2>
            <p>Flexible fanancing options available! Apply now and pay later.</p>
        </div>
        <div class="payment-banner__actions">
            <button class="payment-banner__button">Apply for Financing</button>
            <div class="payment-banner__icons">
                <img src="/visa.png" alt="Visa" class="payment-icon">
                <img src="/mastercard.png" alt="Mastercard" class="payment-icon">
                <img src="/amex.png" alt="American Express" class="payment-icon">
                <img src="/paypal-logo.webp" alt="PayPal" class="payment-icon">
            </div>
        </div>
    </div>
</section>