---
import "../styles/components/_payment-banner.scss";
---

<section class="payment-banner">
    <div class="payment-banner__container">
        <p class="payment-banner__text">
            We accept credit cards. We offer financing
        </p>
        <div class="payment-banner__icons">
            <img src="/visa.png" alt="Visa" class="payment-icon">
            <img src="/mastercard.png" alt="Mastercard" class="payment-icon">
            <img src="/amex.png" alt="American Express" class="payment-icon">
        </div>
    </div>
</section>