---
import "../styles/layout/_footer.scss";
---

<footer class="footer">
    <p>&copy; 2024 Top Quality Flooring. All Rights Reserved.</p>
    <ul class="footer__socials">
        <li><a href="https://www.facebook.com/Topqualityflooringllc/">Facebook</a></li>
        <li><a href="https://www.instagram.com/topqualityflooringsc/?utm_source=ig_web_button_share_sheet">Instagram</a></li>
        <li><a href="#">TikTok</a></li>
    </ul>
</footer>