@use "variables" as vars;
@use "../utilities/functions" as f;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: vars.$font-family-titles;
  color: f.get-color(primary);
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

p {
  margin-bottom: 1rem;
}

a {
  color: f.get-color(primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: 2px dashed f.get-color(accent-dark);
  }
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 0.5rem;
    border: 1px solid #ddd;
  }
}
